/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 1rem;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

/* Main styles */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Section styles */
.course-section {
    margin-bottom: 2rem;
}
/* Positioning the completion checkbox and button */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
}

.completion {
    display: flex;
    align-items: center;
}

#go-back-btn {
    padding: 10px 20px;
    background-color: #033daf;
 
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#go-back-btn:hover {
    background-color: #3900b3;
}

.course-section h2 {
    color: #007bff;
    margin-bottom: 1rem;
}

.course-section p {
    margin-bottom: 1rem;
}

.course-section ul {
    margin-bottom: 1rem;
    padding-left: 1.5rem;
}

.course-section li {
    margin-bottom: 0.5rem;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #084eda;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsive styles */
@media (max-width: 768px) {
    main {
        padding: 10px;
    }
}

@media (max-width: 576px) {
    header h1 {
        font-size: 2rem;
    }
}
